<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="amigo.app">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/amigo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/amigo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".CarerContactsActivity"/>
        <activity android:name=".carer.monitoring.Monitoring">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".CarerContactsActivity"/>
        </activity>
        <activity android:name=".auth.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".useractivity.UserContactActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".BuildTripActivity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".CarerContactsActivity"/>
        </activity>
        <activity android:name=".ConfirmationActivity" />
        <activity android:name=".VideoChat" />
        <activity
            android:name=".useractivity.boardcasting"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".useractivity.MainActivity" />
        <activity android:name=".useractivity.chatting" />
        <activity android:name=".useractivity.MyTripLists" />
        <activity
            android:name=".navi.MapsActivity"
            android:label="@string/title_activity_maps" >

        </activity>
        <activity
            android:name=".navi.HelpType"
            android:theme="@style/AppTheme.popUpWindow" />

        <service android:name=".useractivity.MyFirebaseInstance">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".useractivity.NotificationService"
            android:icon="@drawable/smile"

            >
        </service>

        <service android:name=".useractivity.TripNotificationService"
            android:icon="@drawable/smile"
            >
            
        </service>


        <service android:name=".useractivity.PersonOnArrivalService"
            android:icon="@drawable/smile">
      </service>


        <service
            android:name=".useractivity.VideoNotification"
            android:icon="@drawable/smile"

            >

        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".assisted.AssistedHomeActivity" />
        <activity android:name=".carer.CarerHomeActivity"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />


    </application>

</manifest>
